@import "tailwindcss";

:root {

  --bg-base: #171717;
  --bg-primary: #2C2C2A;
  --bg-secondary: #444441;
  --bg-inverse: #C7C6C1;

  --fg-base: #FFFFFF;
  --fg-primary: #f5f4f0;
  --fg-secondary: #C7C6C1;
  --fg-inverse: #2C2C2A;
  --fg-muted: #5F5E5A;

  --border-default: #C7C6C1;
  --border-strong: #B4B2A9;

  --danger: #602a28;
  --success: #4c5840;
}

@theme inline {
  --color-bg-base: var(--bg-base);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-inverse: var(--bg-inverse);

  --color-fg-base: var(--fg-base);
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-muted: var(--fg-muted);
  --color-fg-inverse: var(--fg-inverse);

  --color-border-default: var(--border-default);
  --color-border-strong: var(--border-strong);

  --color-danger: var(--danger);
  --color-success: var(--success);
  
  --font-manrope: var(--manrope);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg-primary);
  color: var(--color-fg-primary);
  box-sizing: border-box;
}